@import 'reset';

header {
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                &:nth-child(1) {
                    justify-self: flex-start;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}